
h1{
    color: #FFFFFF;
}


body{
    background-color: #211F2A !important; 
}

img{
    z-index: -1;
    width: 100% !important;
}
.salutation {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    z-index: 1;
    width: 100% !important; 
    text-align: center;
}